Node-Red/BLE - Characteristics - Subscribe.json
[
    {
        "id": "93207474e80c0d13",
        "type": "tab",
        "label": "BLE - Read Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "872ffb377b7fe6d6",
        "type": "inject",
        "z": "93207474e80c0d13",
        "name": "Start scan",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "start",
        "payload": "{}",
        "payloadType": "json",
        "x": 80,
        "y": 60,
        "wires": [
            [
                "69497fe82f9e363d"
            ]
        ]
    },
    {
        "id": "69497fe82f9e363d",
        "type": "BLE scanner",
        "z": "93207474e80c0d13",
        "name": "",
        "services": "1",
        "servicesType": "str",
        "continuous": false,
        "x": 270,
        "y": 120,
        "wires": [
            [
                "bcd84e2fec9230db",
                "b96d6b18728128c7"
            ]
        ]
    },
    {
        "id": "bcd84e2fec9230db",
        "type": "BLE device",
        "z": "93207474e80c0d13",
        "name": "",
        "x": 490,
        "y": 60,
        "wires": [
            [
                "3037a3331009e736",
                "4c32301469e53748"
            ]
        ]
    },
    {
        "id": "3037a3331009e736",
        "type": "change",
        "z": "93207474e80c0d13",
        "name": "Device Name",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "read",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "characteristic",
                "pt": "msg",
                "to": "2a00",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 60,
        "wires": [
            [
                "4ea0313b930ade83"
            ]
        ]
    },
    {
        "id": "4ea0313b930ade83",
        "type": "BLE in",
        "z": "93207474e80c0d13",
        "topic": "",
        "characteristic": "",
        "name": "",
        "x": 870,
        "y": 60,
        "wires": [
            [
                "dae6dceddbe2b921"
            ]
        ]
    },
    {
        "id": "dae6dceddbe2b921",
        "type": "function",
        "z": "93207474e80c0d13",
        "name": "Decode device name",
        "func": "node.status(msg.payload.toString());\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "860f53395ca1c480",
        "type": "inject",
        "z": "93207474e80c0d13",
        "name": "Stop Scan",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "stop",
        "payload": "{}",
        "payloadType": "json",
        "x": 80,
        "y": 200,
        "wires": [
            [
                "69497fe82f9e363d"
            ]
        ]
    },
    {
        "id": "b96d6b18728128c7",
        "type": "debug",
        "z": "93207474e80c0d13",
        "name": "Scanner Debug",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 200,
        "wires": []
    },
    {
        "id": "4c32301469e53748",
        "type": "debug",
        "z": "93207474e80c0d13",
        "name": "Device Connection Debug",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 120,
        "wires": []
    },
    {
        "id": "5590517f7ffa3114",
        "type": "comment",
        "z": "93207474e80c0d13",
        "name": "Scanner Comment",
        "info": "**The BLE Scanner searches for BLE Peripheral based on service UUID.**",
        "x": 270,
        "y": 60,
        "wires": []
    }
]